<!-- ---
import AcademicCard from '../AcademicCard.astro'
---

<div>
<AcademicCard
link="https://navigate-designer-808266.framer.app/academic-stages#pp-grade2"
title="Holistic <span>Development</span>"
description="Right Mix of Curricular and Co-Curricular Activities."
image={whyWinmore5}
/>
<AcademicCard
link="https://navigate-designer-808266.framer.app/academic-stages#grade3-grade5"
title="<span>Proven</span> and <span>Tested</span><br/> Centralized Curriculum"
description="CBSE school with balanced traditional & contemporary curriculum to foster growth in all its students."
image={whyWinmore2}
/>
</div>
<div class="flex flex-row justify-center max-md:flex-col w-full gap-[48px] text-white">
<AcademicCard
link="https://navigate-designer-808266.framer.app/academic-stages#grade6-grade8"
title="<span>Innovative</span> and <span>Challenging</span><br/> learning Methodologies"
description="Facilitate excellence through critical thinking and profound learning."
image={whyWinmore3}
/>
<AcademicCard
link="https://navigate-designer-808266.framer.app/academic-stages#grade9-grade12"
title="<span>Faculty</span> Enrichment Program"
description="Regular teacher training and curriculum workshops"
image={whyWinmore1}
/>
</div> -->